<h1>Welcome to my websites homepage</h1>

<% current_time = Time.now %>

<p> The time right now is <%= current_time %></p>

<%= link_to("Contact us", contact_path) %>
<%# link to("WHAT it should say", "WHERE it should go")  %>
<%= link_to("Know more about us", about_path) %>
<%= link_to("Meet our team", contact_path) %>
